.Main {
    
    &Overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0, 0.5);
        z-index: 1;
    }

    &Wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 2;

        &Modal {
            position:fixed;
            background: white;
            width: 40%;
            height: 20%;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &Title {
                font-size: 20px;
            }

            &Input {
                border: none;
                border-bottom: 2px solid rgba(128, 128, 128, 0.5);
                outline:none;
                font-size: 18px;
            }

            &Add {
                width: 20%;
                align-self: center;
                font-size: 15px;
                cursor: pointer;
                padding: 5px;
                color: white;
                background-color: #40b844;
                border: none;

                &:hover {
                    background-color: #4caf4fc3;
                }

                &:disabled {
                    background-color: rgba(128, 128, 128, 0.3);
                    cursor: default;
                }
            }

            &Close {
                font-size: 20px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
}